.modal {
    background-color: #28282888;
}
.modal-fade-in {
    animation: fading 0.25s forwards;
}
.modal-fade-out {
    animation: fadingOut 0.25s forwards;
}
.modal-body {
    max-height: 80vh;
    overflow-y: auto;
    overflow-x: hidden;
}

@keyframes fading {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes fadingOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}